@media(max-width:1199px){
    .navigation-section .logo{
        margin-left: 80px;
    }

    /* banner */

}


@media(max-width: 991px){
    


    .navigation-section .nav-link{
        display: inline-block !important;
    }
    .navigation-section .logo{
        margin-left: 0px;
    }
    
    /* banner */

    .maxi-vh{
         min-height: 585px;
      }

    .banner-section .container{
        background: #faf2e7;
        padding: 50px 30px 100px;    
        border-radius: 10px;
    }

    .banner-social ul li a{
        margin-top: 10px;
    }

    /* about */
    .about-content{
        margin-top: 50px;
    }

}


@media(max-width: 767px){
    
    .global-btn{
        font-size: 14px;
        padding: 5px 15px; 
    }

    /* banner */

    .maxi-vh{
        min-height: 540px;
     }
    .banner-section .container{
        padding: 20px;    
    }
    .banner-content h1{
        font-size: 20px;
    }
    .banner-content p{
        font-size: 16px;
        margin: 10px 0px;
    }
    .banner-social ul li a{
        margin-top: 0px;
        padding: 20px;
        font-size: 18px;
    }

    .banner-img img{
        border-radius: 10px;
        position: relative;
        z-index: 200;
        float: right;
        height: 360px;
        width: 300px;
      }
      .banner-img .right-rect{
          position: absolute;
          height: 345px;
          width: 160px;
          right: 3px;
          top: 25px;
          border: 2px solid #ffb633;
          border-radius: 10px;
          z-index: 100;
      }

      
    /* about */
    .about-section img{
        height: 360px;
        width: 300px;
      }
      .about-section .left-rect{
        position: absolute;
        height: 345px;
        width: 160px;
        left:3px;
        top: 25px;
      }
      
      .about-content h1{
        font-size: 22px;
      }
      .about-content p{
        font-size: 16px;
      }
      
      .about-content a{
        padding: 5px 10px;
        font-size: 14px;
      }
      
}


@media (max-width: 575.98px) {
   

    .global-btn{
        font-size: 12px;
        padding: 5px 10px; 
    }
    .maxi-vh{
        min-height: 520px;
     }

    .banner-section .container{
          width: 95%;
    }
    
    .banner-social ul li a{
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
    }

    /* about */
    .about-section .global-btn{
        font-size: 12px;
        padding: 5px 10px; 
    }


    
}


@media (max-width: 380px) {

    .maxi-vh{
        min-height: 495px;
     }
    .banner-content h1{
        font-size: 18px;
    }
    .banner-content p{
        font-size: 14px;
        margin: 10px 0px;
    }
    .banner-social ul li a{
        margin-top: 0px;
        padding: 20px;
        font-size: 16px;
    }
    .banner-img img{
        height: 320px;
        width: 260px;
      }
      .banner-img .right-rect{
          height: 305px;
          width: 120px;
      }

      .banner-social ul li a{
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
    }

      /* about */

    .about-section img{
        height: 320px;
        width: 260px;
      }
    .about-section .left-rect{
        height: 305px;
        width: 120px;
      }

      .about-content h1{
        font-size: 20px;
      }
      .about-content p{
        font-size: 14px;
        margin: 10px 0px;
      }

}