@media(max-width:1199px){
    .navigation-section .logo{
        margin-left: 80px;
    }

}


@media(max-width: 991px){

    .navigation-section .nav-link{
        display: inline-block !important;
    }
    .navigation-section .logo{
        margin-left: 0px;
    }
}


@media(max-width: 767px){
}


@media (max-width: 575.98px) {
   

    
}


@media (max-width: 440px) {

}