@media(max-width:1199px){
    .navigation-section .logo{
        margin-left: 80px;
    }

    /* services */
    .service-box{
        margin-bottom: 40px;
    }

}


@media(max-width: 991px){
    
    .navigation-section .nav-link{
        display: inline-block !important;
    }
    .navigation-section .logo{
        margin-left: 0px;
    }
    
    /* banner */

    .maxi-vh{
         min-height: 585px;
      }

    .banner-section .container{
        background: #faf2e7;
        padding: 50px 30px 100px;    
        border-radius: 10px;
    }

    .banner-social ul li a{
        margin-top: 10px;
    }

    /* about */
    .about-content{
        margin-top: 50px;
    }

    /* services */
    .service-box{
        margin-top: 80px;
    }

    
    /* footer*/
    .footer-link{
        margin: 10px 0px;
    }


}


@media(max-width: 767px){
    
    .global-btn{
        font-size: 14px;
        padding: 5px 15px; 
    }

    /* banner */

    .maxi-vh{
        min-height: 540px;
     }
    .banner-section .container{
        padding: 20px;    
    }
    .banner-content h1{
        font-size: 20px;
    }
    .banner-content p{
        font-size: 16px;
        margin: 10px 0px;
    }
    .banner-social ul li a{
        margin-top: 0px;
        padding: 20px;
        font-size: 18px;
    }

    .banner-img img{
        border-radius: 10px;
        position: relative;
        z-index: 200;
        float: right;
        height: 360px;
        width: 300px;
      }
      .banner-img .right-rect{
          position: absolute;
          height: 345px;
          width: 160px;
          right: 3px;
          top: 25px;
          border: 2px solid #ffb633;
          border-radius: 10px;
          z-index: 100;
      }

      
    /* about */
    .about-section img{
        height: 360px;
        width: 300px;
      }
      .about-section .left-rect{
        height: 345px;
        width: 160px;
        left:3px;
        top: 25px;
      }
      
      .about-content h1{
        font-size: 22px;
      }
      .about-content p{
        font-size: 16px;
      }
      
      .about-content a{
        padding: 5px 10px;
        font-size: 14px;
      }

     /*  services */
     .services-content h1{
         font-size: 22px;
     }
     .services-content p{
        font-size:16px;
      }
      .service-box p, .service-box-2 p{
        font-size:16px;
      }
      
      .service-box img, .service-box-2 img{
        height:48px;
        width: 48px;
    } 

    .service-box{
        margin-bottom: 20px;
    }

    /* portfolio */

    .portfolio-header h1{
        font-size: 22px;
    }

    .portfolio-menu ul li{
        padding: 3px 5px;
        font-size: 12px;
      }

      /* contact */

      .contact-section h1{
        font-size: 22px;
      }

      .contact-section p{
        font-size: 16px;
      }

     /*  get in touch */

      .get-section img{
          
        width: 320px;
        height: 320px;
      }
      
      .get-section .left-rect{
        height: 305px;
        width: 160px;
        left:3px;
        top: 30px;
      }

      .get-section h1{
          font-size: 22px;
          margin-top: 50px;
      }

      .get-section .mb-4{
          margin-bottom: 15px !important;
      }

      .get-section {
        text-align: center;
      }
      
      .get-section .global-btn{
        margin: 0 auto;
      }
      
}


@media (max-width: 575.98px) {
   

    .global-btn{
        font-size: 12px;
        padding: 5px 10px; 
    }
    .maxi-vh{
        min-height: 520px;
     }

    .banner-section .container{
          width: 95%;
    }
    
    .banner-social ul li a{
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
    }

    /* about */
    .about-section .global-btn{
        font-size: 12px;
        padding: 5px 10px; 
    }

    
    /* service */
    .services-section  h3{
        font-size:16px;
        
    }

    .services-section h3{
        margin-top: 30px;
    }

    /*  get in touch */

     .get-section img{
        width: 300px;
        height: 320px;
        margin: 0 auto;
      }

      .get-section .left-rect{
        display: none;
      }

      .get-section h1{
          font-size: 22px;
          margin-top: 50px;
      }

      .get-section .mb-4{
          margin-bottom: 15px !important;
      }

      .get-section {
        text-align: center;
      }
      
      .get-section .global-btn{
        margin: 0 auto;
      }

    
}


@media (max-width: 380px) {

    .maxi-vh{
        min-height: 480px;
     }
    .banner-content h1{
        font-size: 18px;
    }
    .banner-content p{
        font-size: 14px;
        margin: 10px 0px;
    }
    .banner-social ul li a{
        margin-top: 0px;
        padding: 20px;
        font-size: 16px;
    }
    .banner-img img{
        height: 320px;
        width: 260px;
      }
      .banner-img .right-rect{
          height: 305px;
          width: 120px;
      }

      .banner-social ul li a{
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
    }

      /* about */

    .about-section img{
        height: 320px;
        width: 260px;
      }
    .about-section .left-rect{
        height: 305px;
        width: 120px;
      }

      .about-content h1{
        font-size: 20px;
      }
      .about-content p{
        font-size: 14px;
        margin: 10px 0px;
      }

      /* services */
      
     .services-content h1{
        font-size: 20px;
    }
    .services-content p{
       font-size:14px;
     }

     .service-box p, .service-box-2 p{
        font-size:14px;
      }

      .services-section  h3{
        font-size:15px;
        
      }

      /* portfolio */

    .portfolio-header h1{
        font-size: 20px;
    }

    .portfolio-menu ul li{
        padding: 3px 5px;
        font-size: 10px;
      }

      
      /* contact */

      .contact-section h1{
        font-size: 20px;
      }

      .contact-section p{
        font-size: 14px;
      }
        /* contact */

      .get-section h1{
        font-size: 20px;
    }

    .footer-section h5{
        font-size: 12px;
      }

    .footer-link ul li{
        padding: 0px 2px;
        font-size: 12px;
      }

    .footer-social i{
        padding: 0px 10px;
        font-size: 15px;
      }

}